[2019-02-17 01:23] skovy opened #5 "Replace custom types with @types packages"
Currently, there are custom types for `css-modules-loader-core` and `reserved-words`. Submit typings to DefinitelyTyped and then replace the custom types with `@types/css-modules-loader-core` and `@types/reserved-words`

[2019-02-17 01:25] skovy opened #6 "Don't output any types if the class name is invalid"
For example, if using `--nameFormat kebab --exportType named` we should not output any types that would be invalid (like `class-name`, or reserved keywords like `delete`).

[2019-02-17 01:26] skovy opened #7 "Add better errors for suggesting a fix by using aliases or include paths"

[2019-02-17 01:26] skovy opened #8 "Enforce Prettier and check types in CI"

[2019-03-03 06:50] dawnmist opened #9 "Request: Ability to define an alias prefix"
If using the Webpack sass-loader, to import an scss file from a node_modules package the usual scss import is `~<moduleName>/path/to/file`, e.g. `~bootstrap-sass/lib/bootstrap`. See https://github.com/webpack-contrib/sass-loader#imports

At present, using aliases means that a unique alias needs to be defined for every used node_modules scss import. This very quickly gets unwieldy, e.g.
[code]
espe

[2019-03-05 04:01] skovy commented on #9
The associated PR was merged and closes this out 👌

[2019-03-05 04:01] #9 closed

[2019-03-05 04:01] #6 closed

[2019-03-05 04:55] skovy opened #13 "Explore using ink or default or display less logs and opt-in with a verbose option"
Currently, there are a lot of logs in larger projects and can be easy to miss warning in the noise. Consider using a package like `ink` or by default display fewer logs and allow opting in with a `--verbose` option to display all the logs.

[2019-03-06 21:30] caotrem opened #14 "Error: Cannot find module 'param-case'"
After installing by entering `npm install typed-scss-modules -D` and running by entering `.\node_modules\.bin\tsm --help` or `npx tsm --help` I get the following error stack trace
[code]

[2019-03-06 21:41] caotrem commented on #14
Just found out that the npm packages `param-case` and `reserved-words` do not get installed as a dependency. A manual install `npm install param-case -D` and `npm install reserved-words -D` is working as a work around in the moment.

[2019-03-07 04:43] #14 closed

[2019-03-07 04:54] skovy commented on #14
Thanks for reporting @caotrem! https://github.com/skovy/typed-scss-modules/pull/15 should resolve this issue and changes can be picked up in this release: https://www.npmjs.com/package/typed-scss-modules/v/0.0.8

[2019-03-07 05:16] #8 closed

[2019-03-07 18:34] caotrem commented on #14
Thx for the fast fix @skovy

[2019-03-10 05:02] skovy commented on #5
Opened pull requests for the two custom types:

- `reserved-words`: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33741
- `css-modules-loader-core`: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33744

[2019-03-13 00:51] #5 closed

[2019-03-16 20:16] forabi opened #19 "Generating declarations"
Whenever I try to build my project, I get:

[code]

Here's the code that's causing the error:

[code]

Any ideas?

[2019-03-17 20:11] skovy commented on #19
Are you using `--exportType default`? When I looked at the [default export example](https://github.com/skovy/typed-scss-modules/tree/master/examples/default-export) and added `export type ClassNames = typeof import('./style.scss').default;` on line 2 the `ClassNames` type was equal to `Styles` in this file: https://github.com/skovy/typed-scss-modules/blob/88f11c926bdd0389cc0cdf392c11524144014bf4/e

[2019-03-17 20:34] skovy commented on #19
I just released https://www.npmjs.com/package/typed-scss-modules/v/0.0.10 which exports the `Styles` and `ClassNames` types when using the `default` `exportType`: https://github.com/skovy/typed-scss-modules#default

[2019-03-29 13:52] MikelArnaiz opened #21 "Generated css class name not in camel case (but yes in d.ts)"
I'm using this module in a project bootstrapped with `create-react-app`.

I added a script to my `package.json`: `"generate-dts": "npx tsm src/**/*.module.scss --watch",`

In my `App.module.scss` I have:

[code]

Which produces a camel case (👌) class name in the `App.module.scss.d.ts`:

[code]

That allows me to import the class in my `App.tsx`

[code]
However  I don't see the text in red, if I in

[2019-03-29 17:35] skovy commented on #21
Hey @MikelArnaiz, the [`nameFormat` option](https://github.com/skovy/typed-scss-modules#--nameformat--n) should be what you need here.

It looks like the `--nameFormat none --exportType default` options like you mentioned should do the trick? Does this not work as expected?

[2019-04-02 14:49] MikelArnaiz commented on #21
Hi @skovy

Using those options I get:

[code]

But then I have to use dash notation in my `.tsx`;
[code]

and I want to use camelcase;
[code]

You can test it yourself https://github.com/MikelArnaiz/typed-scss-modules-test

Then run `npm run dts` or `dts-with-dashes`

[2019-04-03 02:44] skovy commented on #21
@MikelArnaiz a PR was recently merged to handle type generation for create-react-app: https://github.com/skovy/typed-scss-modules/pull/17

It added [this note](https://github.com/skovy/typed-scss-modules#--nameformat--n) to the `README`:

From what I understand, if you wanted to use camel case you would have to eject and adjust the CSS Module configuration. This package (`typed-scss-modules`) only

[2019-04-03 08:17] dawnmist commented on #21
@MikelArnaiz The problem is that create-react-app does _not_ enable/use the css loader options that create class names as camel-case. This then means that when webpack produces the list of style names from the css/scss file, there are no camel-case versions of variables with the final class-names generated.

When webpack then tries to plug the css class names into the tsx component file, the varia

[2019-04-03 08:24] dawnmist commented on #21
Just to make it clear - changing the types generation to anything that doesn't match Webpack's class-name generation will result in undefined values when you try to use those altered types. There is nothing at all that `typed-scss-modules` (or any other types-only generation package) can do to fix that mismatch. If you want different variable names being generated, you _must_ make sure that Webpac

[2019-04-19 10:29] chepelevdi opened #22 "Watch mode"
When I run

npx tsm src/**/*.scss --watch

[ADDED] src/components/index.scss
[GENERATED TYPES] src/components/index.scss.d.ts
[CHANGED] src/components/index.scss
File to read not found or unreadable: C:/..../src/components/index.scss

What did I miss?

Windows 10, VS code

Thank you

[2019-04-19 13:25] skovy commented on #22
Try wrapping the glob in quotes, like "src/**/*.scss"

On Fri, Apr 19, 2019 at 03:29 Danil Chepelev <notifications@github.com>
wrote:

[2019-04-19 13:31] chepelevdi commented on #22
Same error

[2019-04-20 16:53] #21 closed

[2019-04-20 16:54] #19 closed

[2019-04-20 16:54] #13 closed

[2019-04-20 17:07] skovy commented on #22
Does running it one-off work (without `--watch`)? Trying to determine if it's something with the watch mode only?

If possible, could you include a code example to reproduce and the full output (or a link to a repository)?

My current assumption is that it's Windows-specific but all the packages for reading/writing _should_ handle Windows properly.

[2019-04-21 16:14] chepelevdi commented on #22
As you can see in the log

[ADDED] src/components/index.scss
**[GENERATED TYPES] src/components/index.scss.d.ts**
[CHANGED] src/components/index.scss
File to read not found or unreadable: C:/..../src/components/index.scss

So it always generate new types at the beginning, and then once a 30 saves it generats successfully again.

[2019-04-22 14:32] #22 closed

[2019-06-05 16:45] JoseFMP opened #24 "Is there any way to get the class names?"
The styles come correctly, however, how can we get the class names as strings?
As the definition file is created right now, there is no way to get the class names as strings. i.e. we can do `style.myClass` and get back the style, but there is no way to do `ClassNames.myClass` and get back the class name.

It'd be great to have.

[2019-06-05 18:23] skovy commented on #24
@JoseFMP do you have a code sample of what you're trying to do?

Doing `import style from "./style.scss"` will be an object (eg: `{ myClass: "my-class", anotherClass: "another-class" }`) at runtime, but importing `ClassNames` will provide a type that is a union of all the classnames. In this example `ClassNames` will be `"myClass" | "anotherClass"`. `ClassNames` is only a type definition and will

[2019-07-09 02:43] #24 closed

[2019-07-09 05:53] shortgiraffe4 commented on #22
How did you resolve it? @chepelevdi

[2019-07-27 20:50] bushmango opened #28 "--watch stopped working on Windows"
Still works on my linux machine

[2019-07-30 21:51] lfender6445 opened #29 "Importing variables + mixins"
lets say i have page.scss

[code]

in my widget, i have

[code]

`tsm` will complain when generating type definition for widget, because i am not importing colors.

is there something I can do to get past this issue, other than importing the colors in every widget?

i would prefer to avoid this as a solution:

[code]

[2019-07-30 23:25] skovy commented on #29
@lfender6445 I don't think with the current setup you'd be able to achieve that. Do you have any thoughts on what would be the preferable way to resolve the issue?

We could consider adding an `entry` file option, or a `globals` option to define effectively global variables or possible a `insertBefore` that allows you to insert arbitrary code before hand when running which could include `@import '

[2019-07-31 01:30] lfender6445 commented on #29
maybe something similar to your `includePaths` but `includeFiles`?

[2019-07-31 14:43] lfender6445 commented on #29
Actually - does it even matter that there are undefined variables? Does this have any bearing on how the types are generated at all?

Or is the error that the scss cannot compile with the missing variables meaning you cannot generate your type defs

[2019-08-05 01:18] skovy commented on #28
@bushmango could you provide a few more details? I'm not able to test on a Windows machine.

This is using `chokadir` so I would be curious if you would be able to determine if it's the usage (or incorrect usage) in this library or `chokadir` itself?

[2019-08-05 01:28] skovy commented on #29
@lfender6445 interesting, after thinking about this the problem sounds like `page.scss` is what is being imported as the CSS Module and `widget.scss` is never explicitly imported? (implicitly by other stylesheets).

It sounds like `widget.scss` relies on the "consumer" (importer) to always provide the `$specialColor`? I'd be curious how many distinct files like `widget.scss` you have?

You mention

[2019-08-06 14:25] lfender6445 commented on #29
yes, i agree its more explicit (and i prefer the apporach, while some of my team mates find it burdensome to directly specify dependencies), i think the primary issue is that type definitions are being generated for every file including the partials rather than their main compositions or bundles, correct me if i'm wrong but:

[code]

in this example, we generate 3 type definitions right? 1 for the

[2019-08-06 21:01] skovy commented on #29
Correct, with the current setup it's looking for all files that match the glob pattern passed in. We could consider adding an ignore param but that could get verbose to use. I believe the truly correct way would be to parse the TypeScript files and traverse all the imports to see what's _actually_ being imported. The current implementation is a bit naive and if it ends with `.scss` we generate the

[2019-08-24 12:32] wildcookie007 commented on #29
That's a correct way of perceiving this issue I believe.

I have found myself struggling against this issue as well, using Webpack with `sass-resource-loader` to import variables globally into all of my `.scss`.

The way I think it might work out is if we could apply a flag that would specify a folder/file from which we could search for those variables.

I've accomplished a similar solution with s

[2019-08-27 11:15] dahliacreative opened #33 "Globbing not searching nested directories."
Hi, if I run this: `tsm app/react-app/**/*.sass`;

It will find  `app/react-app/some-folder/some-file.sass` but it won't find `app/react-app/some-folder/some-sub-folder/some-file.sass`.

Am I doing something wrong or is this a bug? When ever I've used the `/**/*` globbing pattern before it's always drilled down into sub directories.

Thanks for your help.

[2019-08-28 08:56] dahliacreative commented on #33
That fixed it thanks, wasn't seeing that error though :/

[2019-08-28 17:28] lkarmelo commented on #28
@skovy
The issue comes from backslashes in windows paths. I'll send pull request with fix

[2019-08-29 18:23] lkarmelo opened #36 "Feature request: option to output errors only or silence it completely?"
I can work on this and send PR if you are ok with this

[2019-08-30 03:44] #28 closed

[2019-08-30 03:55] skovy commented on #33
Interesting, I tested in this repo with:

[code]

And I got the correct warning. I'm going to close this issue for now but if you were able to create a reproducible repo where this warning _didn't_ show up when it _should_ be that would be fantastic to avoid confusion for future people 👍

[2019-08-30 03:55] #33 closed

[2019-08-30 03:57] skovy commented on #28
Hey folks, @lkarmelo merged a fix. Mind giving [`v0.0.12`](https://www.npmjs.com/package/typed-scss-modules/v/0.0.12) a go?

[2019-08-30 04:05] skovy commented on #36
Yea, I think this makes sense.

I like the approach webpack takes here: https://webpack.js.org/configuration/other-options/#infrastructurelogginglevel

Thoughts on using this for inspiration and adding a new option `logLevel`. So the new entry in the README would look something like the following.

---

### `--logLevel` (`-l`)

- **Type**: `"verbose"` | `"errors"`
- **Default**: `"errors"`
- **Exa

[2019-08-30 19:37] lkarmelo commented on #36
I was also thinking of using webpack as reference. `verbose`, `info`, `errors` options make sense to me, maybe even add `silent` option?

Why not make `verbose` default to preserve backwards compatibility? I am personally fine with either default options, just something to consider.

[2019-09-01 14:54] RobbieGM opened #38 "Watch option says "File not found or unreadable" on Windows"
Hi,
I realize you just released a version (0.0.12) that is supposed to fix this, but for me, when using the watch option, I still get an error saying "File not found or unreadable" on Windows. However, it generates the types correctly the first time I run the command. I am using version 0.0.12 on Windows with Git Bash as my terminal in VS Code.
![image](https://user-images.githubusercontent.com/15

[2019-09-03 02:27] skovy commented on #36
@lkarmelo yea that sounds good to me 👍

`verbose` as the default is probably a good idea to make it easier when first getting started to understand what's happening

[2019-09-03 02:33] skovy commented on #38
@RobbieGM did `0.0.11` work for you?

@lkarmelo any ideas what might be causing this issue? (asking you because of https://github.com/skovy/typed-scss-modules/pull/34)

[2019-09-03 11:24] RobbieGM commented on #38
I tried 0.0.11 and it didn't do anything when the files changed. When the error shows, it uses forward slashes instead of Windows backslashes. Could that be it?

[2019-09-03 17:13] lkarmelo commented on #38
Forward slashes should work fine on windows.
Google search shows the issue occurs when the file node-sass tries to write is already being accessed by another process. It seems to happen with VS Code, i use webstorm and have never ran into this problem.
https://github.com/sass/node-sass/issues/2022
https://github.com/sass/node-sass/pull/2386
https://github.com/microsoft/vscode/issues/20491
This lib

[2019-09-12 05:12] simonchuryakov opened #39 "Feature request: Not to create *.scss.d.ts file if it's empty"
In my project I have a few common scss files and I don't want to generate `*.scss.d.ts` for them. I can see in output the following logs for them:
[code]
If I understand it correctly status `[NO GENERATED TYPES]` means that there was nothing generated for this file.

Could you, please, add the option (for example `--no-empty-files`) to disable file generation in this case?

[2019-09-15 23:39] skovy commented on #39
@simonchuryakov if there are no types defined, wouldn't a type error be thrown for missing module definitions when trying to import?

[2019-09-16 04:56] simonchuryakov commented on #39
@skovy yes, it would be thrown, but the thing is that we don't need to import the file `colors.scss` with the following content in any `*.tsx` file:
[code]
Anyway I've tried to reproduce the described behaviour one more time with updated build script, but no luck. Moreover, I dived into the code where `[NO GENERATED TYPES]` message come from and it looks like there shouldn't be any generated file

[2019-09-16 14:49] skovy commented on #39
Got it, so it's a subset of files that shouldn't generate type declarations?

If you could create a minimum example or create a failing test case I'd be happy to take a look. I understand your case where some files are only variables but that'd be a bit challenging to infer with the current setup I believe.

[2019-10-03 12:16] askirmas opened #40 "Watch mode serves only 1 folder"
```$ tsm "{pages,layouts,components}/**/[^_]*\.{css,scss}"```
Found 13 files. Generating type defintions...
[GENERATED TYPES] layouts/main/clips.css.d.ts
[GENERATED TYPES] layouts/main/CenterFlex.css.d.ts
[GENERATED TYPES] layouts/main/button.css.d.ts
[GENERATED TYPES] layouts/main/InternalGrid.css.d.ts
[NO GENERATED TYPES] layouts/main/scrollbar.css
**[GENERATED TYPES] pages/body.css.d.ts**
[GENE

[2019-10-10 02:03] skovy commented on #40
Without an example to reproduce, my initial thought is the difference between the two is that the first command (without watch) is using `glob` to find the files whereas the second example is using `chokidar`.

There's nothing custom for resolving the glob patterns in this repo, so it's likely a limitation of the package `chokidar` depends.

However, I do agree it's confusing that the two commands

[2019-10-22 07:24] askirmas opened #43 "Dart Sass support?"
Have we possibility to change loader as easy as in webpack? Like `implementation: require('sass')` to use Dart

[2019-10-23 01:42] skovy commented on #43
Hey @askirmas, this package is pretty specific to working with TypeScript + SASS and don't have any experience with Dart.

If it's a smaller change, I would be open to a pull request but I'm assuming this would require a pretty large rewrite of some assumptions? If that's the case, forking this and creating `dart-scss-modules` (or something along those lines) may be a better option.

Sorry if I mi

[2019-11-01 10:59] mortargrind commented on #43
I guess you misunderstood the question. He meant that there's an another and newer implementation of SaSS, which is called "Dart SaSS" and can be found under the name `sass` in the NPM registry.

Since Node SaSS is not the first class citizen in the SaSS ecosystem and has some disadvantages compared to Dart-SaSS, some people is choosing `sass` over `node-sass` recently. But this package relies on

[2019-11-01 11:21] askirmas commented on #43
Can you pick up presented in project webpack config?

Alternatively ( but I’m not sure) ‘PostCss plugin’ sounds like a general
description of scss typing

On Fri, 1 Nov 2019 at 12:59, Semih Basmacı <notifications@github.com> wrote:

--
Благодарю за содействие!
Андрей Криворучко <http://about.me/kirmas>

[2019-11-01 13:27] mortargrind commented on #43
Sorry I didn't get what you mean? Which Webpack config?

[2019-11-01 13:33] mortargrind commented on #43
I think it shouldn't get in touch with Webpack config at all. It can just look at your `package.json` and check which one you are using (`node-sass` or `sass`) and use that. In case of both of them being present, it can look for an option called `sass-implementation` (Which's value can be` node-sass` or `sass`). And if that also is not given, it can fallback to the `node-sass` for backwards compat

[2019-11-01 13:47] askirmas commented on #43
webpack config is a source of truth - despite what written in dependencies. Obviously I can have dart as dependency but yet not use it - just reimplementing/refactoring step-by-step while server still goes with default node-sass.
Also it could be very many additional features (like @import json):

https://github.com/askirmas/sandbox-json-css-ts/blob/9af3d0077f6ac70985dbf6589ea1c61a51636e2b/next.co

[2019-11-01 14:26] mortargrind commented on #43
If you don't actually use Dart SaSS and but still use it as a dependency for various reasons, you can specificy this to `typed-scss-modules` as I suggested in my previous post. Automatically checking which implementation to use by looking at the dependencies is only there for when you don't use multiple SaSS implementations on your project at the same time (Which is the most common case by far).

[2019-11-08 22:37] Ciantic opened #44 "Consider ignoring node_modules by default"
I'd like to make a suggestion: Ignore `node_modules` directory by default. Is there a use case where you want the tsm go inside node_modules? If there is need maybe include option `--include-node-modules`.

Then we could just run "npx tsm", all docs could simply say that too, without the src suffix!

Why I even suggest this trivial change is because I'm in a pickle (🥒) since the next.js framework

[2019-11-27 12:15] hilezi opened #45 "wried --watch, not same without --watch"
hi, many thanks to this project came to this world

I did

[code]

got

[code]

but when I did add `--watch` to the command

[code]

[code]

got missing some files, not to be watching

what did I miss?

currently workaround using `tsm '{+(pages|components)/**/*.scss,+(pages|components)/*.scss,global.scss}'`

[2019-12-04 12:18] burtek opened #46 "--watch should also re-build dependants"
[code]
[code]

`tsm --watch --exportType default` correctly generates `index.scss.d.ts` with `textRed` and `textGreen`, but when I add/remove color from `_variables.scss` while running `--watch`, `index.scss.d.ts` won't be rebuilt until I re-save `index.scss`.

<hr />

Similarly, consider following file:

[code]

[code]

With `tsm --watch --exportType default` `type Color` won't get updated until

[2019-12-07 16:00] skovy commented on #46
Hey @burtek, thanks for opening this issue. Your use case makes sense. I'm curious how often you have files that depend on another file like this? The only use case I can think of where another file depends on another and can result in different classnames is if a variable is dynamically interpolated as part of a classname. I'm asking because the approach I'm currently thinking about is tracking w

[2019-12-07 16:07] skovy commented on #44
@Ciantic how would you feel about having an `--ignore` option? That could then get easily passed to the `ignore` option via [`glob`](https://www.npmjs.com/package/glob). I hesitate to ignore node modules by default since it is possible some variables or other things are potentially used.

[2019-12-07 16:14] skovy commented on #43
Thanks for all the details @askirmas @mortargrind!

I think the easiest way to add this would be to add a `--parser` option that defaults to `node-sass` but also allows `dart-sass` as an option. How would you feel about this approach?

Doing that sounds like it solves your problem and doesn't add a lot of complexity. It is one more option but I would assume it only needs to be typed once as a `scr

[2019-12-07 16:15] #7 closed

[2019-12-07 16:17] skovy commented on #45
This likely seems semi-related to https://github.com/skovy/typed-scss-modules/issues/40.

My initial thought is that the difference is between `chokadir` and `glob` in watch versus one run.

[2019-12-08 14:07] Ciantic commented on #44
@skovy Great, ignore option would work too. So the idea would be to just write `npx tsm . --ignore node_modules` or perhaps `node_modules/**/*`

[2019-12-08 14:25] burtek commented on #46
It's not only about colors, but also any global modifier that gets imported this way (colors, font-sizes, element width etc). During app maintenance and feature development, when the UI is already defined and accepted, those get modified pretty rarely (at least in my projects), but during the first stage of development those maps can be changed multiple times a day, especially if multiple people a

[2019-12-08 18:24] skovy commented on #46
@burtek how would you feel about a `--always-rebuild-all` (considering better naming options). The idea would be anytime _any_ `*.scss` file that matches your glob pattern changes _all_ of the files would be rebuilt.

This would be doing a lot of extra work but would be _much_ easier to implement than constructing a custom dependency tree. I can imagine any number of edge cases that would be overl

[2019-12-08 18:46] burtek commented on #46
Actually, this sounds pretty good for me and I can definitely see how this may improve other developers' work, too. Yeah, it's gonna work for me :)

[2019-12-08 19:09] #44 closed

[2019-12-08 19:16] skovy commented on #44
@Ciantic can you please try the `ignore` option (https://github.com/skovy/typed-scss-modules#--ignore) released in https://www.npmjs.com/package/typed-scss-modules/v/0.0.13?

[2019-12-08 19:17] skovy opened #48 "Add an Issue Template"
Add a GitHub issue template for reporting issues.

[2019-12-08 19:17] skovy opened #49 "Add semantic-release to automate releases"
Releases are currently done manually but should be automated.

[2019-12-08 19:24] #48 closed

[2019-12-08 19:58] #49 closed

[2019-12-08 20:03] skovy commented on #49
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-08 20:04] skovy commented on #48
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-08 20:04] skovy commented on #44
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-08 20:04] skovy commented on #28
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-08 20:04] skovy commented on #5
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-08 20:04] skovy commented on #8
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-08 20:04] skovy commented on #14
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-08 20:42] skovy commented on #45
Thanks for reporting @hilezi. I'm going to fold this issue into https://github.com/skovy/typed-scss-modules/issues/40 because the fix for that issue should also fix this issue.

[2019-12-08 20:42] #45 closed

[2019-12-08 20:48] skovy commented on #40
Thanks again for reporting @askirmas and I'm looking into this issue. There are actually a number of things going on / several issues that I think all boil down to two issues:

- Using both `glob` and `chokidar`. Since `chokidar` provides a superset of functionality (both matching files and then actually watching for changes) I believe it makes sense to remove `glob` and rely solely on `chokidar`

[2019-12-08 22:21] burtek commented on #46
On the other hand... We use mostly glob that mathes CRA's `*.module.scss`. But we usually import `_variables.scss` that does not match the pattern 🤔 Not sure how to handle that

[2020-01-11 13:57] mortargrind commented on #43
Hello.

See: https://sass-lang.com/documentation/js-api

`Both major Sass implementations support the same JavaScript API. Dart Sass is distributed as the pure-Javascript sass package, and LibSass is distributed as a native extension in the node-sass package.`

So I guess they should be compatible.

[2020-01-14 23:17] simonchuryakov commented on #39
@skovy as I mentioned before, I couldn't reproduce the issue, and now during closing last-year-survivor items in my task list, I've decided to create a sample app and test the case one more time (if you're interesting in that, please, check this repo - https://github.com/simonchuryakov/nextjs-with-tsm-example).

Everything works perfect, so I guess this issue may be closed.

[2020-01-16 13:07] burtek commented on #38
Any progress on this? This really makes the job harder
@skovy

[2020-01-16 13:55] skovy commented on #38
Have you tried themost recent version? Some of the dependencies have been upgraded that are responsible for the watch functionally.

I unfortunately don't have access to a windows machine so I would need help reproducing and debugging to find the root cause, fix, and validate.

[2020-01-16 14:03] burtek commented on #38
I'm using 1.0.1 all the time and I'm randomly getting two kinds of errors:

[code]
or
[code]

[2020-01-19 16:25] skovy commented on #39
Awesome, I'll go ahead and close this issue. Thanks for following up @simonchuryakov and confirming it's no longer an issue 👍

[2020-01-19 16:25] #39 closed

[2020-01-19 20:02] #43 closed

[2020-01-19 20:05] skovy commented on #43
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-19 20:08] skovy commented on #43
@askirmas @mortargrind can you both try the latest release and verify that it works for both of you? If you have any further issues, please open a new/separate issue. Thanks!

[2020-01-20 13:14] burtek commented on #38
I guess the problem is with using `~` as alias to `node_module/` in imports. I've found https://github.com/sass/node-sass/issues/2796

Might this be the case?

[2020-01-29 01:11] oeed opened #56 "Change output folder/filename"
Thanks for making this, it's fantastic!

One suggestion I have is somehow having a way to change the output folder or filename. I'm not sure exactly how it should work, but essentially my end goal is to put them in a '__generated__' folder in the same directory which I already use for other generated typings (GraphQL queries).

Hiding the files isn't too bad, so it's by no means a deal-breaker, bu

[2020-01-29 01:23] skovy commented on #56
Could you create a minimal example? Would that still type check properly?

Having a minimal example would be hugely helpful to use as a test case! 👍

On Tue, Jan 28, 2020 at 17:11 Oliver Cooper <notifications@github.com>
wrote:

[2020-01-30 23:51] oeed commented on #56
Yeah sure, here's a fairly minimal outline, but if you want a more fleshed out one let me know.

Essentially, when outputting the type definitions you could wrap it in a module using the path of the SCSS file. Once you do that the types file can basically go anywhere or be called anything as long as your tsconfig is set properly (i.e. anywhere .d.ts files are detected).

[code]

I can see it getti

[2020-01-31 01:40] skovy commented on #56
Ah right, yea I think this seems reasonable.

Could you also provide what you would imagine as the expected
file/directory output?

On Thu, Jan 30, 2020 at 15:51 Oliver Cooper <notifications@github.com>
wrote:

[2020-02-02 21:58] oeed commented on #56
Sure, so perhaps an example folder would look like this:
[code]

or alternatively this (i.e. having it flexible to suit either scenario would be ideal):

[code]

[2020-02-17 05:56] OfriHarlev opened #57 "Using the composes from "filepath" breaks TSM"
When I have two files

foo.module.scss
`
.foo {
width: 50px;
}
`
bar.module.scss
`
.bar {
  composes: foo from "./foo.module.scss";
}
`
I get the following error when I run TSM and it attempts to process the composes keyword.

`(node:55481) UnhandledPromiseRejectionWarning: TypeError: this.pathFetcher is not a function
    at Parser.fetchImport (/Users/ofri/s0/node_modules/css-modules-loader-core/

[2020-02-18 09:50] OfriHarlev commented on #57
I now think this has nothing to do with composes and instead only something to do with file paths. When I do the same thing with
bar.module.scss
`
@values foo foo from "./foo.module.scss";
`
I get the same issue

[2020-02-21 04:46] skovy commented on #57
@OfriHarlev is this valid SASS Syntax or does this require additional processors/loaders/plugins? Would you mind linking me to the related docs on https://sass-lang.com? Thanks!

[2020-02-24 12:57] mortargrind commented on #43
Sorry for the late response. I will try to update our project this week and let you know about result soon @skovy

[2020-02-29 15:15] BiosBoy opened #59 "Undefined variable: "$screen". Typings creation crash"
## Expected Behavior
Should transpile SCSS files which include some SASS variables like `$some_var` without any crashing. Like `css-modules-typescript-loader` it's actually do.
## Current Behavior
[code]

## Your Environment

- Version used: 1.2.0
- Operating System and versions: macOS Mojave
- Link to your project: nope

[2020-02-29 17:30] skovy commented on #59
Hey @BiosBoy, thanks for opening this issue!

From what I can tell this is the expected behavior. The difference between this tool and `css-modules-typescript-loader` (from what I understand) is that's working with only CSS and not SASS. With SASS, we have to run the compiler because class names can be dynamically generated or nested (eg: `.class { &-nested { color: red; } }`).

Therefore, to run

[2020-03-03 10:08] BiosBoy commented on #59
Hi @skovy !
Thanks for a blazing fast response first of all and your project as well!

Well, you're right `includeFiles` have solve my problem.

I've also tried integrating the way `sass` recommend to, but it doesn't help for some reason. Btw I didn't make any deeper investigation than just put `sass.render` right on the `node-sass` initialization inside your **lib**:
[code]

Cheers.

[2020-03-03 10:08] #59 closed

[2020-04-01 22:55] halfnibble commented on #36
@peanutbother can you make a PR based on your --logLevel changes in your branch? Or do you mind if I use your code to make a PR?

[2020-04-02 10:21] peanutbother commented on #36
feel free to create pull requests based of my fork - I currently don't have time to create clean PRs.
so far the code was accepted but my changes weren't clean because I fixed multiple issues.
I you want to, you can look into my PRs in my repo.

https://github.com/peanutbother/typed-scss-modules/issues?q=is%3Aissue+is%3Aclosed

@skovy could you add me and of course @halfnibble as contributors plea

[2020-04-07 07:30] PetersonRyan opened #61 "Feature Request: Delete old .d.ts files that do not have .scss files anymore"
Feature Request:

After deleting a .scss or .sass file I would like this tool to automatically remove the corresponding .d.ts file on the next run.

[2020-04-07 15:19] skovy commented on #36
@all-contributors please add @peanutbother for ideas

[2020-04-08 00:01] halfnibble opened #65 "Commit pre-commit script adds extraneous newline."
When running prettier or git commit (which must be running prettier?) an extraneous newline is added to the README.md file here:
https://github.com/skovy/typed-scss-modules/blame/0a92eee7545cfedadd8265c82faff4fcd413f059/README.md#L231

## Expected Behavior

I expect it not to add an extraneous newline.

## Current Behavior

A newline is added, which caused a somewhat confusing merge conflict.

##

[2020-04-08 00:25] skovy commented on #65
ah crap, sorry about that @halfnibble.

The problem is the all contributors PRs I merged earlier today. I didn't look at the build closely since it's only changes to the README but something isn't adhering to Prettier. (might need to update Prettier).

This should be fixed now with https://github.com/skovy/typed-scss-modules/commit/c14c83fbd10b01e77250f42d0a4dee9303c7d34c

I'll handle merging your

[2020-04-08 00:25] #65 closed

[2020-04-08 00:31] halfnibble commented on #65
No problem. :)

[2020-04-09 19:20] skovy commented on #61
@PetersonRyan do you have thoughts on how something like this would be implemented?

I can't think of a simple way to generically apply this logic. For example: if we delete any `*.d.ts` file that doesn't have a corresponding output this could unintentionally delete unrelated type definitions (`*.d.ts` files).

[2020-05-03 23:41] pajohns opened #67 "CRLF for line endings of generated .d.ts files"
Currently when building scss types, the generated *.d.ts files have line endings with `LF`. Git, by default, uses `CRLF` for line endings so whenever the module builder runs all .d.ts files are flagged as having changed.

## Expected Behavior
An option should be provided where line ending is a configurable parameter. Alternatively CRLF is the default line ending format.

## Current Behavior
All li

[2020-05-04 00:05] pajohns commented on #67
I haven't been able to consistently reproduce this issue, but leaving it open as it is something that has been present previously. I'll add more information as I find it.

[2020-05-14 21:11] PetersonRyan commented on #61
@skovy Sorry for the late reply.

I was thinking it would only apply to `*.scss.d.ts` or `*.sass.d.ts` files, instead of any `*.d.ts` file. It could be optional and triggered with a flag. Additionally, for extra redundancy, while using the `--watch` flag it would know which files it has generated itself, and therefor which files are safe to delete.

[2020-05-29 06:31] OfriHarlev commented on #57
I didn't find it in sass-lang but look at the composition header here https://github.com/css-modules/css-modules

[2020-06-15 19:38] rickiesmooth commented on #29
I'm having the same issues in combination with `sass-resource-loader`

[2020-06-19 15:45] skovy opened #69 "Use Prettier for formatting"
## Expected Behavior

The output should be Prettier "compliant" by default to avoid the need to run another tool or deal with formatting.

## Current Behavior

The output does not match Prettier formatting or config options (eg: single vs double quote).

## Possible Solution

- Default to Prettier (if it's installed)
- Allow an option to explicitly disable
- Fallback to something reasonably format

[2020-06-19 16:22] skovy commented on #29
@lfender6445 @wildcookie007 @rickiesmooth how would you feel about a `prependData` option that accepts a string?

It would behave in a similar way to the `sass-loaders`'s `prependData` option: https://webpack.js.org/loaders/sass-loader/#prependdata.

Would you all be able to solve your problem with this solution? I don't think it's perfect nor ideal, but it's pretty straightforward as compared to

[2020-06-19 16:24] skovy commented on #29
@lfender6445 @wildcookie007 @rickiesmooth how would you feel about a `prependData` option that accepts a string?

It would behave in a similar way to the `sass-loaders`'s `prependData` option: https://webpack.js.org/loaders/sass-loader/#prependdata.

Would you all be able to solve your problem with this solution? I don't think it's perfect nor ideal, but it's pretty straightforward as compared to

[2020-06-19 16:29] skovy commented on #29
@lfender6445 @wildcookie007 @rickiesmooth how would you feel about a `prependData` option that accepts a string?

It would behave in a similar way to the `sass-loaders`'s `prependData` option: https://webpack.js.org/loaders/sass-loader/#prependdata.

Would you all be able to solve your problem with this solution? I don't think it's perfect nor ideal, but it's pretty straightforward as compared to

[2020-06-20 10:51] wildcookie007 commented on #29
Yes, by the looks of it, it should solve mentioned problems or at least to an extent.

[2020-06-27 23:43] nperez0111 opened #71 "Default Export extend Record<string, string>"
## Expected Behavior
I have a function that takes in a default export from a CSS Module but I want there to be a meaningful type for the parameter.

[code]

## Current Behavior

Export default looks like:
[code]

## Possible Solution

Export default could look like:
[code]

## Context

If you have any suggestions on how to have a parameter that is meaningful for my function that would be really he

[2020-07-03 00:52] #36 closed

[2020-07-03 00:59] skovy commented on #36
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-03 01:10] skovy commented on #71
Thanks for submitting the issue with all the details. I believe the recommendation would defeat the purpose of this package because it would then allow usage of any class (string) on the `styles` object. For example, this is now valid:

[code]

However, I do see the issue with the code sample you provided. It looks possibly related to this issue: https://github.com/microsoft/TypeScript/issues/1530

[2020-07-03 01:11] skovy commented on #67
@pajohns any new details, or can we close this issue?

[2020-07-03 01:16] skovy commented on #57
Ah, I see. I believe this would require additional loaders/processors to handle this syntax since this is using the standard SASS packages. This would likely be a lot of work because we would need to entirely redo the way the processing works. I'm happy to entertain the idea if you'd like to propose a potential solution and implementation!

[2020-07-03 05:01] pajohns commented on #67
@skovy this issue is still present. I remember looking at the source code on this and noticed that each line ending is done programatically, so there shouldn't be too much involved to change line endings to use `LF` instead of `CRLF`. It would be good for git to not pick up the generated .d.ts files every time there's a rebuild.

[2020-07-04 02:47] nperez0111 commented on #71
I agree completely with your recommendation, it does seem that exporting as a type instead of an interface would resolve my issue. I’ll be able to make a PR for the update and any relevant documentation tomorrow.

Thank you for the support.

[2020-07-06 16:08] #71 closed

[2020-07-06 16:11] skovy commented on #71
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-04 12:07] evangelinepapanicola commented on #38
Any updates on this? I'm having this issue and it's driving me crazy. None the local patches floating around work for me. I randomly seemed to fix the issue on a different device months ago by simply uninstalling VSCode, deleting all related files and reinstalling. I'm about to try that on this device too but I have little hope considering I only installed VSCode for the first time on this device

[2020-09-17 00:08] nperez0111 opened #88 "Attempting to use prettier breaks listDifferent functionality"
## Expected Behavior

When using listDifferent it should try to compare the outputs of the prettier-ified result to what is in the file system.

## Current Behavior

Prettier can result in different formatting than default resulting in listDifferent always returning false

## Possible Solution

Prettier probably has a programmatic API to be able to compare results as strings.

## Steps to Reproduc

[2020-09-17 14:50] skovy commented on #69
Closed by #87.

[2020-09-17 14:50] #69 closed

[2020-09-17 15:40] skovy commented on #88
Ah, didn't think of this. I'll work on a fix. I've opened a PR with a failing test case in the meantime to validate.

[2020-10-04 06:03] ccortezaguilera commented on #61
@skovy hello, do you mind if I try to create a pull request for this change?

[2020-10-06 16:06] skovy commented on #61
@ccortezaguilera yea, if you'd like to give this a shot that'd be great!

Do you have a general idea of how you're planning to implement this? I could imagine this being potentially destructive (deleting files) and potentially resource intensive (many files to watch).

[2020-10-06 16:09] skovy commented on #57
Closing this issue since it's stale and this functionality is not built into SASS itself so would be a pretty significant departure from the current implementation.

[2020-10-07 04:56] ccortezaguilera commented on #61
@skovy Thanks! Yeah I think I already have a PR ready. The approach I'm using is the FS unlink event for when files are removed and then trying to minimize the files looked at when just running the cli without the --watch flag. I think the explanation will be clearer when looking at the code.

[2020-10-08 03:29] skovy opened #92 "Improve codebase quality & consistency"
Currently, there is limited linting and enforced formatting. As part of this issue, ideally, we can improve the codebase consistency:

- [ ] Enforce consistent file naming. Most of the codebase is kebab case (`kebab-case`) but there are a few files that are camel case.
- [x] Enforce consistent `it`/`test` usage. Currently, it's mixed.
- [x] Enforce a newline between `it`/`describe` blocks.
- [ ] E

[2020-10-15 01:09] skovy commented on #67
Fixed by #94

@pajohns would you mind updating to the latest version and confirming?

[2020-10-15 01:09] #67 closed

[2020-10-15 05:05] #88 closed

[2020-10-15 05:08] skovy commented on #88
:tada: This issue has been resolved in version 3.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules/v/3.2.2)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v3.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-15 05:12] skovy commented on #88
@nperez0111 can you please try the latest release?

[2020-10-15 05:19] skovy commented on #46
It looks like we could also consider using the `includedFiles` attribute from the SASS renderer: https://sass-lang.com/documentation/js-api#result-stats-includedfiles

Although this would also introduce a lot of complexity. Is this something you still think would be useful?

[2020-10-20 23:15] nperez0111 commented on #88
It works correctly now @skovy Thanks for making the changes!

[2020-10-23 07:54] burtek commented on #46
I believe this issue still needs to be solved, although atm I'm not working with the company any more and I haven't used `typed-scss-modules` for months (but this is about to change)

[2020-10-26 22:01] theKashey opened #97 "watch is "watching" wrong files"
## Expected Behavior

watch more works
## Current Behavior

Running a command
[code]
generates the following output
[code]
^^^ note the wrong file added

After that, the process is doomed

[code]

## Your Environment

- Version used: 3.2.2

[2020-10-26 22:10] theKashey commented on #97
`--ignoreInitial` is solving the problem.
Sounds like this is more `chokidar` API problem, which might "see" more files than it should.
However simple re-glob-ing file in `change`/`add` callback might save the day.

[2020-10-27 08:08] ruojianll opened #98 "[FEATURE] Integrate with webpack."
I'm working on webapck+ts+vue+jsx. I need typed scss module and inject it to jsx。 typed-scss-modules is great and work well. Bug is there any way to use it in webpack not in cli？

[2020-10-27 09:25] ruojianll commented on #98
I wrote a simple webpack loader to do this. A outputDir option will make structure more pretty.
[code]
[code]

[2020-10-28 00:42] skovy commented on #98
@ruojianll have you looked at https://github.com/Jimdo/typings-for-css-modules-loader?

From my understanding, this loader can be combined with the loader responsible for transpiling SASS to CSS. Since there's a tool that is already designed as a webpack plugin and handles this case, I'm going to close this issue.

[2020-10-28 00:42] #98 closed

[2020-10-28 00:56] skovy commented on #97
Yea, this seems like an issue with `chokadir` 🤔

I wonder if it's related to these issues relating to symlinks: https://github.com/paulmillr/chokidar/issues/544 & https://github.com/paulmillr/chokidar/issues/967

I actually didn't realize the node module `.bin` files are symlinks, but makes sense.

I think a stop-gap solution like you said by doing a re-check against the glob could solve the immed

[2020-10-28 00:59] skovy commented on #61
@PetersonRyan mind giving the latest version a try? https://github.com/skovy/typed-scss-modules/releases/tag/v3.3.0

I'm going to close this issue since the only feasible solution is to do this while watching which is what @ccortezaguilera has implemented.

[2020-10-28 00:59] #61 closed

[2020-10-29 00:54] PetersonRyan commented on #61
@skovy works well for me!

Thanks @ccortezaguilera for implementing this 👍

[2020-10-29 00:59] skovy commented on #61
Awesome, great to hear!

[2020-11-30 14:05] diogolessa opened #103 "Allow importing from a package"
I have some package that provides base styles within `.scss` files. When I try to `@import` then from another package and execute `tsm`, I get errors, as explained below:

## Expected Behavior
Should generate types properly

## Current Behavior
Returning the following error (I changed the package name, but the error is the same):
![image](https://user-images.githubusercontent.com/5168901/100618419

[2020-11-30 17:20] skovy commented on #103
@diogolessa I tested an example roughly like this and running with `--includePaths node_modules` works as expected. Can you confirm you're running it in the correct directory and providing the correct path? For example, if you're in a nested directory it may need to be `--includePaths ../node_modules`?

If the issue still persists, would you mind creating a minimal example repo so I can try to pin

[2020-11-30 19:41] diogolessa commented on #103
@skovy , thanks a lot. Using only `node_modules` make it works. And you're right, I was pointing to the wrong path, of course.

[2020-11-30 19:41] #103 closed

[2020-12-01 16:20] fzembow opened #104 "npx command is incorrect"
## Expected Behavior

Run the typed-scss-modules script with an npx command

## Current Behavior

Running `npx tsm src` runs [this unrelated package](https://www.npmjs.com/package/tsm)

## Possible Solution

Change readme to `npx typed-scss-modules src` ? Not sure if there's a way to add aliases

[2020-12-01 17:21] skovy commented on #104
I removed it entirely because I don't think it makes much sense to run like this since this package has a peer dependency on `node-sass` or `sass`.

[2020-12-01 17:21] #104 closed

[2020-12-30 21:11] ASDFGerte opened #106 "tsm --watch --updateStaleOnly tries to read stats before creating file"
When running as `tsm folder --watch --updateStaleOnly`, a crash `ENOENT: no such file or directory` will occur, after the following steps:

 - create a new scss file
 - save empty
 - tsm will notice (`[ADDED]`), but as it is empty, definitions will be empty, and `[NO GENERATED TYPES]` will happen, and no `.d.ts` file will be generated (which is probably logically the issue, but i am not sure)
 - w

[2021-01-07 13:10] hrc7505 commented on #106
Facing the same issue

[2021-01-08 06:14] martin-braun opened #107 "Bring this to NPM, please"
I'd love to this package on NPM, I'm not a Yarn fan.

Thank you!

[2021-01-08 11:57] ASDFGerte commented on #107
[Did you try for even a second?](https://www.npmjs.com/package/typed-scss-modules?activeTab=readme)

[2021-01-08 15:55] skovy commented on #107
@martin-braun this package is [published on npm](https://www.npmjs.com/package/typed-scss-modules). The `yarn` commands can be swapped out for the equivalent with `npm`:

[code]

[2021-01-08 15:55] #107 closed

[2021-01-08 15:58] skovy commented on #106
@craigrmccown is this something you'd be interested in looking into as part of https://github.com/skovy/typed-scss-modules/pull/99? If not, I can when I have a chance.

[2021-01-08 16:50] craigrmccown commented on #106
I'll look into it! This was definitely an oversight on my part.

[2021-01-09 01:05] martin-braun commented on #107
Thanks mate. I've seen you updated the README already. For some reason I failed when I tried to run it with npx, I guess it was too late at that point. Works like charm! 👍

[2021-01-10 18:01] #106 closed

[2021-01-10 18:05] skovy commented on #106
:tada: This issue has been resolved in version 3.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules/v/3.4.1)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v3.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-16 00:06] martin-braun opened #110 "Please support global stylesheets through a pseudo selector"

[2021-01-16 00:09] #110 closed

[2021-02-02 07:37] nomad302 opened #111 "Semicolon is missing after type definition of type "styles""
## Expected Behavior

we are using the latest version of typed-scss-modules and Eslint for linting in our project. after running the tsm command it generate the types for classes but there is no semicolon after the definition, so when we run lint command , eslint add the semicolon after the type definition.

There should be a semicolon after the type definition for "styles"

command : tsm \"**/*.m

[2021-02-06 02:00] skovy commented on #111
oh wow ha yea we should probably add one

dang, didn't think a missing semicolon would result in a major version, but should probably make this a major bump since the output will change 😕

[2021-02-06 02:25] #111 closed

[2021-02-06 02:28] skovy commented on #111
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules/v/4.0.0)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-15 14:20] boformer opened #113 "Refresh of errors and autocompletion in vscode when .module.scss.d.ts files are changed."
## Expected Behavior

Once the .module.scss.d.ts files are recompiled (either in watch mode or manually), vscode should immediately start autocompleting newly added class names. no errors should be shown when those new class names are used in .tsx files.

## Current Behavior
The TS language service doesn't seem to be aware that a .d.ts file has changed, the suggestions and
Autocomplete suggestions

[2021-02-15 19:04] skovy commented on #113
Hi @boformer, thanks for opening this issue!

Unfortunately, as you mentioned, this an issue with the way VSCode works and is not specific to this project. As a result, I don't believe the fix should live in this repo since I've seen this happen whenever a type definition is automatically changed (eg: git pulling file changes).

If you're willing to creating a VSCode extension, package that can be

[2021-02-15 19:04] #113 closed

[2021-03-11 12:23] MrFlashAccount opened #115 "Does it support :export declarations is sass?"
Hello! Thank you for this great tool! As I understand, this tool generates ts declarations for classes, but does it support :export?

[2021-03-14 19:21] skovy commented on #115
I did a basic test, and it does appear to work.

This tool relies on this package: https://github.com/css-modules/css-modules-loader-core in this file: https://github.com/skovy/typed-scss-modules/blob/60ede35dea22fc472baaabe5b75996ecb9ad0173/lib/sass/source-to-class-names.ts.

If it doesn't work as expected, opening a new issue (or, pull request) with a failing unit test (and potential fix) would

[2021-03-14 19:21] #115 closed

[2021-03-15 10:48] pbvt opened #116 "Error with @use when using node_modules"
## Expected Behavior
File generated can handle the `@use` statement pointing at a package.

## Current Behavior
I'm getting the following errors:
[code]

It doesn't seem like `--aliases` works to replace the `@use`, and the documentation only talks about `@import`.

## Possible Solution
I'm using a monorepo so this package could be modified with an alias (if that worked) but also, maybe a way to i

[2021-03-15 10:57] pbvt commented on #116
I misread the docs...

Fixed everything with `-p.~@example-core packages/core`

[2021-03-15 10:57] #116 closed

[2021-03-15 12:00] MrFlashAccount commented on #115
@skovy Thank you for the answer!

[2021-03-19 13:25] pbvt opened #117 "`--banner` doesn't work with `-e default`"
## Expected Behavior

Using `--banner '//test'` with `-e default` should work.

## Current Behavior

Using `--banner '//test'` with `-e default` returns this formatting, causing me this error:

![image](https://user-images.githubusercontent.com/78373345/111786018-3f74a800-88b5-11eb-8ae3-8aca5f70bb24.png)

Using `-e named` is fine. If I use `\n` at the end it outputs `//test\n` for both `named` and

[2021-03-21 22:54] #117 closed

[2021-03-21 22:58] skovy commented on #117
:tada: This issue has been resolved in version 4.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules/v/4.1.1)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v4.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-21 23:02] skovy commented on #117
@pbvt thanks for the issue and details, can you confirm the latest version resolves the issue for you?

[2021-03-22 08:30] IvanSavoskin opened #120 "Doesn't find mixin"
A mixin is created in a separate file. I import this mixin into various scss files via `@use "src / styles / mixin" as *;`

## Expected Behavior
Everything works correctly, files with style declarations are created

## Current Behavior
I get the error `no mixin named themify` or` Invalid CSS after "... nt-height: main": expected expression (eg 1px, bold), was ". $ Content-height," `and no ad files

[2021-03-22 10:01] pbvt commented on #117
Yes and no?

So `yarn tsm **/*.module.scss --banner '//test' -e default` works now (and so does `--banner '// THIS FILE...'`) but I worked out this was a minimal example I could boil it down to; my full command now doesn't work as it did before.

My full command is `yarn tsm **/*.module.scss --ignore node_modules/** -e default -p.~@example- packages/ --banner '// THIS FILE...'` and this comes out

[2021-03-22 16:14] skovy commented on #117
Hmm, based on that last syntax error it looks like there's an extra leading quote. Based on the examples and tests in this codebase, that shouldn't be happening. The first error I'm not quite sure about.

These both sound like new issues to me, so feel free to open new issues. I can't tell what the issue is based on the options and error without a full reproduction. If you can create a minimal rep

[2021-03-22 16:17] skovy commented on #120
@IvanSavoskin thanks for opening the issue, can you provide a minimal reproducible example (or, a failing test case)?

Based on the code provided, I'm not sure what the file structure is, what the problematic line of code is, or what options were being passed.

[2021-03-22 16:23] IvanSavoskin commented on #120
@skovy

src/styles/theme/mainTheme.scss
[code]

src/styles/theme/newTheme.scss
[code]

src/styles/mixin.scss
[code]

src/component/styles/App.scss
[code]

[2021-03-22 16:53] philipbushnell-valtech opened #121 "Further `--banner` issues since `4.1.1`"
## Expected Behavior

`--banner` should work as expected.

## Current Behavior

`--banner` is causing issues as per comment on https://github.com/skovy/typed-scss-modules/issues/117#issuecomment-803934429.

## Possible Solution

In `4.1.0` my full command just didn't work with `--banner`. In `4.1.1` my full command still works without `--banner` but now using banner causes more issues than just st

[2021-03-24 15:15] IvanSavoskin commented on #120
@skovy

There is an assumption that the construction
[code]
A similar error occurs also in the mixin.scss file
I hope this will add understanding of the problem

[2021-03-30 14:59] IvanSavoskin commented on #120
@skovy
Good day. Unfortunately, I have not found a solution for this problem. For some reason typed-scss-modules cannot work with named @use and all style files that use it cause errors when generating declarations. As a result, I had to switch to using dts-css-modules-loader

[2021-05-03 23:04] kintz09 opened #124 "Does this package only support scss files or also css files?"
Does this package offer support for both scss and css files? If not, would you expect one to use `typed-css-modules` package in addition to `typed-scss-modules` package to get declaration files created for all css modules regardless of extension type?

[2021-05-04 14:20] skovy commented on #124
@kintz09 I'm not positive. The intention was this package was only to support scss and none of the tests/existing functionality were ever tested on only css files. However, it might work so you could give it a quick try?

If you run into issues, using both packages like you proposed would probably be the easiest.

[2021-05-04 14:21] #124 closed

[2021-05-04 15:34] kintz09 commented on #124
@skovy I used a glob pattern that included both css and scss files and the type declarations did get created as expected.

I'm not sure how I'd actually go about testing to ensure the css files specifically are working properly, but seems sufficient for my needs.

[2021-05-30 01:42] gencer opened #127 "`sass` compilation fails if `math` used..."
## Expected Behavior

TSM should compile all types

## Current Behavior

[code]

### SCSS Content:

[code]

### Note. This code compiles to CSS so no issue on my end.

## Possible Solution

Have no idea at the moment :)

## Steps to Reproduce (for bugs)

1. Create a sample folder with above scss content and compile.

## Context

SCSS Content is above.

## Your Environment

- Version used: 4.1.1
-

[2021-05-30 01:44] gencer commented on #127
Oh no! I somehow downgraded dart-sass to few versions back. That was the cause.

[2021-05-30 01:44] #127 closed

[2021-06-11 14:42] bencergazda opened #129 "Custom sass importer"
## Expected Behavior

It looks like currently there's no possibility to provide importer functions for the sass compiler. This could be a huge benefit eg. when we try to `@use` a sass module from the node_modules folder, using `~` in the @use, which is a default behavior in weback's `sass-loader`. Unfortunately this breaks the type generation on the same file until we can pass an importer .

## Cu

[2021-06-11 15:14] skovy commented on #129
@bencergazda did you try passing the alias prefix? `--aliasPrefixes.~ node_modules/`

[2021-06-11 15:28] bencergazda commented on #129
@skovy Unfortunately that works only if the SCSS file gets placed in the same folder as the `node_modules`.

It would be really great to be able to add extra options to the Sass compiler.

[2021-06-11 19:12] bencergazda commented on #129
What about a `tsm.config.js` file it the cwd (I usually use cosmiconfig), with all the available CLI options and also add a `compilerOptions` property to MainOptions (or to SassOptions)?

[2021-07-12 08:34] FunkiR commented on #46
I faced the same problem. Is it still not resolved?

[2021-08-31 14:10] Elvincth commented on #56
Any updates?

[2021-09-09 11:00] marcianosr opened #132 "SCSS type generation"
Hey!

Thanks for this awesome library!

I have a question about the following scenario I encountered. Let's say I have a config SCSS file where I define some base SCSS classes and variables I want to use. I import this SCSS file into other SCSS files to use these variables. I don't want to generate types based on the config SCSS, so I ignore the config file. However, in the SCSS files where I impo

[2021-09-12 19:56] skovy commented on #132
Hi @marcianosr, as far as I know, there's not currently a way to configure or ignore class names with this tool. However, one approach I'd recommend is separating base styles from your config file. Depending on the build tool, that `baseText` class may be getting duplicated per import which may result in a larger output. Additionally, the base class won't get duplicated by the types either.

For e

[2021-09-12 19:58] skovy commented on #129
@bencergazda could you create an example? I'm not fully following the use case and problem.

[2021-09-14 07:26] marcianosr commented on #132
That was indeed the only solution I could come up with. Thanks for the help :)

[2021-09-14 15:09] bencergazda commented on #129
@skovy It happens quite often that we need to customize the Sass compiler's options, to add a custom Sass importer, or inject Sass functions etc. If this is the case, I need to be able to pass the same options to `typed-scss-modules`'s compiler, otherwise, the type generation will break.

(This is not something we could pass from the CLI, we need a config file to make this work.)

_Since reporting

[2021-09-14 15:51] skovy commented on #129
@bencergazda got it, so it sounds like you need new options exposed here when the sass compiler is invoked? https://github.com/skovy/typed-scss-modules/blob/1391aa722eb309c76df6fdc9ce01d2a768984ff2/lib/sass/file-to-class-names.ts#L71-L73

Or more specifically, you can't really on a static string mapping and need to pass a JS function?

[2021-09-15 01:15] #132 closed

[2021-10-15 06:17] maraisr opened #134 "Remove `tsm` bin reference"
## Expected Behavior

https://github.com/skovy/typed-scss-modules/blob/1391aa722eb309c76df6fdc9ce01d2a768984ff2/package.json#L34-L36

read

[code]

## Current Behavior

https://github.com/skovy/typed-scss-modules/blob/1391aa722eb309c76df6fdc9ce01d2a768984ff2/package.json#L34-L36

## Possible Solution

[code]

## Steps to Reproduce (for bugs)

- `pnpm add tsm`
- `pnpm add typed-scss-modules`

One "

[2021-11-02 09:03] livelyPeng commented on #29
@skovy
![image](https://user-images.githubusercontent.com/32978177/139816751-00047e6f-5db6-4892-9f05-3e2f02cea0f9.png)
![image](https://user-images.githubusercontent.com/32978177/139817011-14a186b3-705e-4dd0-a8a3-3516caf3564a.png)
If you use global variables, there is a problem generating d.ts

[2021-11-02 09:07] livelyPeng opened #135 "If you use global variables, there is a problem generating d.ts"
![image](https://user-images.githubusercontent.com/32978177/139817762-17e25010-d54e-4987-b5f5-5eae3eb8e401.png)
![image](https://user-images.githubusercontent.com/32978177/139817781-c1c9afa1-e6cf-4eac-8ac6-d9a6969436bb.png)

[2021-12-09 16:53] skovy commented on #135
I believe this is the same issue as https://github.com/skovy/typed-scss-modules/issues/29.

[2021-12-09 16:53] #135 closed

[2021-12-10 10:14] mlp73 commented on #129
Hi!
I am adding a +1 to that issue as my team is in the same situation. We are using a sass-loader with a custom importer to be able to import .json designtokens. The specific plugin is: node-sass-json-importer.
As we are not able to pass an additional importer to typed-scss-modules it fails when trying to resolve the import of our tokens.

@skovy any plan on opening up for additional importers?

[2021-12-10 10:32] bencergazda commented on #129
Yes, I would recommend adding the possibility to define a custom sass config object in a separate js file. That object could be merged with the project's own sass config (file, inlcudePaths, importer) in the renderSync call.

[2021-12-27 10:17] capsuleman opened #137 "Script with `--listDifferent` with missing type definition file does not fail"
## Expected Behavior

When running `tsm` with option `--listDifferent` and all type definition files (`.d.ts`) not yet generated, the script should exit with code 1.

## Current Behavior

When running `tsm` with option `--listDifferent` and all type definition files (`.d.ts`) not yet generated, readFileSync fails but its error is not catch, resulting in exit with code 0, so not interpreted as en e

[2022-01-02 16:06] #137 closed

[2022-01-02 16:17] skovy commented on #134
It seems reasonable as a breaking change to only allow running the CLI via the full package name as proposed to avoid conflicts and improve clarity.

[2022-01-24 04:43] ruojianll opened #140 "Update to dart-sass."
Node-sass is deprecated now. Update package.json to dart-sass.

[2022-01-25 16:59] skovy commented on #140
@ruojianll can you please elaborate? Yes, `node-sass` is deprecated but that doesn't mean nobody is using it. Removing it from this tool might mean some people that depend on it today would no longer be able to use it. Unfortunately, that means it'll need to be supported for a while. I do think it's reasonable in a major release to (eventually) remove support entirely for `node-sass`.

This packag

[2022-01-25 17:00] #140 closed

[2022-01-26 07:11] ruojianll commented on #140
Node-sass is in this repo's package.json, in my case this package has a crash while installing cause of it's node-sass dependency. And more installing issues will be found in the future. So I suggested remove node-sass from package.json.

[2022-01-30 20:57] skovy commented on #140
Yes, it's in the development dependencies. Again, this is required for testing this package still behaves as expected for those that still rely on node-sass and should never be installed by this package as a consumer (if working on this package, then yes since it's a requirement to test and develop this package).

It is not a dependency, so it won't be installed when you install this package. It's

[2022-01-31 16:32] #134 closed

[2022-01-31 16:37] skovy commented on #134
:tada: This issue has been resolved in version 4.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules/v/4.1.3)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v4.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-31 16:37] skovy commented on #121
@philipbushnell-valtech I tried running this command on the codebase you provided and I got this output:

[code]

That looks correct? I see you were using Windows 10, were you using WSL or some other way?

[2022-02-02 16:37] philipbushnell-valtech commented on #121
@skovy nope it was just the pure installs on Windows 10. We ended up moving away from scss modules on our project for different reasons anyway so it's no longer something pressing for me. If you can't replicate then feel free to close and I can always reopen if/when we need this in the future.

[2022-02-03 01:14] skovy commented on #121
I'll close for now but can re-open if this is an issue for someone else.

[2022-02-03 01:14] #121 closed

[2022-02-07 19:48] ewlsh opened #144 "4.1.3 includes breaking binary name change"
Would it be possible to unpublish `4.1.3` on `npm`? It includes the breaking change introduced in `v5` and it is a patch version change

As `4.1.3` is over 300 downloads, you'd likely have to contact support (https://docs.npmjs.com/policies/unpublish#issues)

[2022-02-07 19:50] ewlsh commented on #144
Alternatively, a deprecation notice could be added 😄

[2022-02-08 04:24] skovy commented on #144
I've updated with a deprecation notice: https://www.npmjs.com/package/typed-scss-modules/v/4.1.3

[2022-02-08 04:24] #144 closed

[2022-02-14 00:46] skovy commented on #29
:tada: This issue has been resolved in version 5.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules/v/5.1.0)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v5.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-14 00:57] skovy commented on #29
I linked the wrong issue 🤦‍♂️

[2022-02-14 01:00] skovy commented on #129
@bencergazda @mlp73 assuming both of you still use this package and need this functionality, could you please give `v5.1.1` a shot to test the behavior and verify it solves your use cases? See the linked PR for more details (or the updated README) but you should now be able to do the following after upgrading:

[code]

[2022-02-15 02:50] skovy commented on #40
`chokidar` has been upgraded and has received many updates. I'm closing this issue without a reproducible example.

[2022-02-15 02:50] #40 closed

[2022-02-16 03:56] skovy commented on #56
I don't believe outputting a different file name will work in practice. You can refer to the linked PR to see how a generated output folder can be supported. For this to work, the directory structure needs to match the project and the generated directory needs to be added to the `rootDirs` for TypeScript to properly map these generated types to the actual files.

[2022-02-17 03:34] #56 closed

[2022-02-17 03:38] skovy commented on #56
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules/v/6.1.0)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-17 03:41] skovy commented on #56
@oeed @Elvincth can you try the latest release that adds the `outputFolder` option? https://github.com/skovy/typed-scss-modules/releases/tag/v6.1.0

See the docs for more details: https://github.com/skovy/typed-scss-modules#--outputfolder--o

[2022-02-17 03:56] skovy commented on #120
I tried to replicate this issue based on comments but it worked as expected for me.

The file name listed was `src/styles/theme/newTheme.scss` but the file imported `src/styles/themes/newTheme.scss`. Updating this directory to `themes` loaded those files correctly. `$themes`  `smartMarket` also needed to be changed to `new` to work correctly. The tool ran successfully (without generating anything)

[2022-02-17 03:56] #120 closed

[2022-02-17 04:01] skovy commented on #97
Closing this issue since it's stale and an issue with a dependency, not this package.

However, if this is still an issue (`chokadir` was updated) I wonder if using the ignore option could help? https://github.com/skovy/typed-scss-modules#--ignore

I haven't tried, but maybe something like `--ignopre 'node_modules/.bin/*'`?

[2022-02-17 04:01] #97 closed

[2022-02-17 04:05] skovy commented on #46
Without an obvious or existing solution, this would add too much complexity to this tool. I believe we would need to change to something more like a build tool to construct and watch the dependency graph. Since that likely won't happen this issue likely won't be worked on.

I would be open to simpler solutions, such as `--always-rebuild-all`. If anyone wants to open an issue with a detailed propos

[2022-02-17 04:05] #46 closed

[2022-02-17 04:10] skovy commented on #29
It was renamed to `additionalData` which we can support for this use case: https://webpack.js.org/loaders/sass-loader/#additionaldata

[2022-02-17 05:04] #29 closed

[2022-02-17 05:07] skovy commented on #29
:tada: This issue has been resolved in version 6.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules/v/6.2.0)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v6.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-17 05:12] skovy commented on #29
Can you all try using the latest release with the `additionalData` config option? https://github.com/skovy/typed-scss-modules#--additionaldata--d

[2022-03-15 03:17] nttu94507 opened #153 "npm install typed-scss-modules(6.2.0) can not run commands"
## Expected Behavior
After npm install typed-scss-modules ,index.scss.d.ts file will be create when enter command tsm src

## Current Behavior
After npm install typed-scss-modules ,Get system warnning tsm not a command when enter command tsm src,But when I install typed-scss-modules@2.0.1 and it work

## Steps to Reproduce (for bugs)

1.install typed-scss-modules (6.2.0)
2.enter command "tsm src"

[2022-03-15 13:38] skovy commented on #153
I'd recommend reading the docs: https://github.com/skovy/typed-scss-modules

Also, when upgrading read the release notes: https://github.com/skovy/typed-scss-modules/releases/tag/v5.0.0

It's no longer `tsm`, it was renamed to `typed-scss-modules` (full package name) to prevent collisions with other packages.

[2022-03-15 13:39] #153 closed

[2022-03-16 10:52] rzseattle opened #154 "version 6 breaks sass files support"
Hi

Are sass files not supported anymore?

**v5**
[code]
**v6**

[code]

[2022-03-16 13:40] rzseattle opened #155 "Generate types for empty classes"
Hi

Is there a possibility to create types for classes with an empty body? I think it's useful mainly because two reasons:

1. While I work with modules I often create the template sass file with class names.
Then I can use these names in react component. Usually, it's easier to fill class bodies from this point.

2. Delete body of class creating the problem with code becaouse type is no longer av

[2022-03-16 23:47] skovy commented on #155
This would be a breaking change to swap it like this, and in my opinion less correct. The types are meant to ensure you're only using valid class names that do something. An empty class doesn't do anything.

However, I can see the benefit of this during iteration. Would you suggest a new configuration option such as `outputEmptyClassnames` (maybe a better name) to opt-in to this behavior with the

[2022-03-16 23:48] skovy commented on #154
Please use the template. Without the source code and a reproducible example, I cannot do anything to help without this.

Please open a new issue with the template, full source, and steps to reproduce (or a pull request with a failing test case).

[2022-03-16 23:48] #154 closed

[2022-03-17 20:17] rzseattle commented on #155
I don't think that is wrong to generate typings for empty classes. If U wants to prepare a placeholder for future CSS improvements it's a very rational way.

And the option would be perfect. Don't have any comments to name also.

[2022-03-18 21:25] bryanjtc opened #156 "Deprecation of @import"
This is the year @import will be out of support. Are there any plans to support @use?
https://github.com/sass/sass/blob/main/accepted/module-system.md#timeline

[2022-03-29 10:36] krzysztof-cislo opened #157 "Can't configure aliasPrefixes in the config file"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

## Expected Behavior

I would like to have all configuration in the config file instead of passing values via cli arguments.

## Current Behavior

It is not possible to do it because `cliOptions` used [here](https://github.com/skovy/typed-scss-modules/blob/d0a358a3e0c3946a0095aa1bc8116920efface5b/li

[2022-04-16 17:06] JohnGurin opened #159 "Tests are not cross platform"
## Expected Behavior
Tests are reproducible

## Current Behavior
Line endings are inconsistent in tests with `os.EOL`
![image](https://user-images.githubusercontent.com/7195950/163684497-07fd4108-e3e0-4332-8923-d4ebd7d30338.png)

Path resolving are inconsistent in tests
[code]

## Steps to Reproduce (for bugs)
Clone and yarn install on Windows
## Context
Trying to contribute
## Your Environment
Wi

[2022-04-26 01:02] skovy commented on #159
@JohnGurin as I don't work on this directly on Windows this isn't a problem for me, nor CI. If you (or someone else) would like to reproduce, fix, and open a pull request I'll happily accept contributions!

[2022-04-26 01:02] #159 closed

[2022-04-26 01:03] skovy commented on #156
There are no plans, but contributions are welcomed!

[2022-04-26 01:06] skovy commented on #157
I couldn't find anything googling for the yargs docs, I think we can filter out any `cliOptions` with an `undefined` value before merging and that should resolve this issue.

[2022-04-26 01:48] skovy commented on #157
This appears to be a problem with using `coerce` so this only affects `aliases` and `aliasPrefixes`. I think I have a fix.

[2022-04-26 02:00] #157 closed

[2022-04-26 02:04] skovy commented on #157
:tada: This issue has been resolved in version 6.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules/v/6.2.1)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v6.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-26 08:25] krzysztof-cislo commented on #157
Thank you. I can verify the fix works fine.

[2022-07-01 10:05] byverdu commented on #129
It took me some time to figure out how to convert the CLI syntax `--aliasPrefixes.~ node_modules/` to config file one, just in case someone has the same issue it's like this

[code]

[2022-07-03 08:55] simPod opened #168 "Yarn pnp cannot resolve `~` imports"
## Expected Behavior

Type defs to be generated

## Current Behavior

`Can't find stylesheet to import.`

when using `@import ~...`

## Possible Solution

?

## Steps to Reproduce (for bugs)

I'm using yarn pnp and this config

[code]

## Context

However, with yarn pnp there are no `node_modules`.

## Your Environment

- Version used: 6.5
- Yarn: 3.2

[2022-07-23 16:17] kobakazu0429 commented on #155
It appears that `sass` does not have an option to include empty classes.
So, empty classes are removed when converting from scss to css.
However, the following seems to solve this problem.

[code]

ref: https://stackoverflow.com/questions/11837701/how-to-include-empty-classes-and-ids-in-sass-result

[2022-07-24 22:40] skovy commented on #168
I'm not familiar with yarn pnp, but open to accepting contributions if it's straightforward and makes sense to include in the tool.

[2022-07-24 22:48] skovy commented on #155
Yea, the lack of support in SASS is problematic. The PostCSS SASS plugin also relies on `sass` so the fact it removes empty classes will make this very challenging. The only solution I can think of right now is some custom regex but that'll be brittle, or parsing the CSS into an AST but the SASS compiler is presumably already doing this so it could add extra overhead and complicate the code. This

[2022-09-03 13:08] srmagura opened #169 "Add VS Code problem matcher for watch mode"
Thanks for this great tool!

## Current Behavior

A very common development workflow using `typed-scss-modules` would be to run `typed-scss-modules --watch` and then start up `tsc --watch` once the `.d.ts` files have been generated.

In VS Code, this would typically be accomplished via [Tasks](https://code.visualstudio.com/docs/editor/tasks). However, currently there is no way for VS Code to know

[2022-09-07 15:52] srmagura opened #170 "File watcher does not detect changes to imported Sass files"
## Expected Behavior

If `index.module.scss` contains

[code]

Then `typed-scss-modules --watch` should regenerate `index.module.scss.d.ts` if `colors.scss` changes.

## Current Behavior

`typed-scss-modules --watch` does NOT regenerate `index.module.scss.d.ts` if `colors.scss` changes.

As a workaround, just make a trivial edit to `index.module.scss`.

## Possible Solution

Not sure how to fix th

[2022-09-07 22:48] skovy commented on #169
Hey @srmagura, overall this solution sounds reasonable to me. To recap what you want to do:

- Verbose log (so it can be turned off with `--logLevel` option) that compilation started/ended
- Add an example to the README for the VSCode config JSON so people can copy/paste to their own projects

If that sounds right I think this sounds reasonable and like a great contribution if you want to open a P

[2022-09-07 22:52] skovy commented on #170
Closing as a duplicate of https://github.com/skovy/typed-scss-modules/issues/46.

As discussed in that issue, there is no known trivial way to solve this efficiently (suggestions welcome!). However, a simple (but inefficient) solution would be to allow an option to rebuild everything which I think would be a reasonable contribution if it solves your problem (not sure if it will be fast enough in p

[2022-09-07 22:52] #170 closed

[2022-09-10 23:14] srmagura commented on #169
I tried implementing this but ultimately determined it would not be possible without non-trivial changes to typed-scss-modules' file watcher. Basically, typed-scss-modules handles each file individually when watching, but VS Code needs a single "compilation started" and a single "compilation completed" message (even though multiple files could have changed).

I was able to solve my use case by mak

[2022-09-10 23:14] #169 closed

[2022-09-12 22:12] skovy commented on #169
Oh, that solution sounds clever and maybe should be considered the official solution? 🤔

Do you still want to add the VSCode config for that to the README for others that may run into the same problem?

[2022-09-12 22:42] srmagura commented on #169
Hmm, I actually stopped using that solution because I found it to be a bit annoying in practice 😂. The issue is that you will have two terminals running typed-scss-modules simultaneously if you rerun the main build task. So I don't think it is a good enough solution to add to the README, but maybe someone will stumble upon this issue if they encounter the same problem.

Now I've gone back to just

[2022-09-14 00:40] skovy commented on #169
Can we add a new event listener for `ready`? https://github.com/paulmillr/chokidar I haven't tested but could solve the "compilation started".

[code]

For "compilation completed," could that be added to the existing `change` event listener (or use the existing message), since in practice only one CSS file is commonly saved at a time? And the worst case if multiple CSS files change, the message is

[2022-09-14 14:48] srmagura commented on #169
Nice ideas 😃.

I actually had the "Initial compilation completed" message working when I tested this. The difficulty is printing "File change detected. Compiling..." when a file changes — without printing this message one time for each file that changed. I don't think the `ready` event would help here since it only occurs once, after the initial scan is complete.

It's not uncommon for me to save

[2022-09-29 22:35] herobank110 opened #174 "nameFormats.map is not a function"
## Expected Behavior

calculate types

## Current Behavior

error log: nameFormats.map is not a function
type declarations not being output

## Possible Solution

https://github.com/skovy/typed-scss-modules/blob/master/lib/sass/file-to-class-names.ts#L53
missing literal array around nameFormat

## Steps to Reproduce (for bugs)

in typed-scss-modules.config.js:
[code]

- Version used: 7.0.0
- Opera

[2022-09-30 01:10] skovy commented on #174
Try passing an array: `nameFormat: ['camel']`

[2022-09-30 01:33] #174 closed

[2022-09-30 01:37] skovy commented on #174
:tada: This issue has been resolved in version 7.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typed-scss-modules/v/7.0.1)
- [GitHub release](https://github.com/skovy/typed-scss-modules/releases/tag/v7.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-26 23:14] bryanjtc opened #176 "--config option"
Is there a --config option to specify the path of the config file?

[2022-10-27 00:08] skovy commented on #176
@bryanjtc not currently, but I'd be open to the addition

[2022-11-10 14:00] besrezen90 opened #177 "How to use glob pattern for two folder"
I want to generate d.ts files for two folders. For example, the paths "./src/components" and "./src/modules".

I'm trying to run this package as `typed-scss-modules "./src/{components, modules}" --watch`, but it doesn't work.
I have a message "Files not found". However, "./src/components" or "./src/modules" work correctly

What could be wrong?

## Expected Behavior

All files found

## Current Beh

[2022-11-10 14:35] #177 closed